$main-color: #74c52c;

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;
}
img {
    max-width: 100%;
    object-fit: cover;
}
p,a {
    font-size: 12px;
    @media (min-width: 576px){
        font-size: 14px;
    }
    @media (min-width: 768px){
        font-size: 16px;
    }
}
h3 {
    font-size: 24px;
    @media (min-width: 576px){
        font-size: 28px;
    }
    @media (min-width: 768px){
        font-size: 32px;
    }
}
.mt-30 {
    margin-top: 30px;
    @media (min-width: 1025px){
        margin-top: 0;
    }
}
.mt-60 {
    margin-top: 60px;
}
.btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    margin: 0 auto;
    a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        display: block;
        width: 100%;
        @media (min-width: 1025px) {
            font-size: 18px;
        }
    }
}
.btn__wrapper--main {
    border: 1px solid #fff;
    padding: 5px 20px;
    margin: 0 10px;
    &:hover {
        border: 1px solid $main-color;
        background: $main-color;
    }
}
.main-section {
    padding: 40px 0;
}
.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    margin: 0 0 30px 0;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        width: 70px;
        height: 2px;
        background: #000;
    }
}

//header-scss
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__right--top {
    ul {
        padding: 0;
        display: flex;
        align-items: center;
        li {
            list-style: none;
            a {
                text-decoration: none;
            }
        }
    }
}